@import "../../mixins";
@import "../../fonts";
@import "../../variables";

div.payO-dashboard {
  position: relative;
  .payO-grid {
    margin-top: 4rem;
  }
  div.pinned-notes,
  div.unpinned-notes {
    margin: 0 auto 10rem;
    padding: 0 1rem;

    p {
      text-align: left;
    }
  }
}
