@import "../../../../variables";
@import "../../../../fonts";
@import "../../../../mixins";

div.payO-createNote {
  position: relative;
  margin: 2rem auto;
  padding: 0.75rem 1rem;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);

  input {
    border: none;
    outline: none;
    width: 100%;
  }

  div.title {
    position: relative;
    padding: 0 0.5rem;
    display: flex;

    textarea {
      outline: none;
      width: 400px;
      line-height: 1.5rem;
      font-size: 0.8rem;
      border: 0;
      box-sizing: border-box;
      display: block;
      resize: none;
      max-width: 100%;
      line-height: 1.5;
      padding: 0;

      &::placeholder {
        font-weight: 600;
      }
    }

    svg {
      vertical-align: baseline;
      justify-content: baseline;
      font-size: 1rem;
      fill: $background;
      background-color: $text;
      margin: auto 0.25rem;
      padding: 0;
    }
  }
}
