@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Thin.woff") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Medium.woff") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Bold.woff") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSans-Bold.woff") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Roboto font-face */
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Thin.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
