$primary: #54a870;
$accent: #26baff;
$tertiary: #feefc3;

$text: #000;
$text-alt: #1f1f1f;
$background: #fff;
$background-alt: #fafafa;
$gray: #e9e7e7;
$placeholder: #adadad;

$font-size: 16px;
$sidebar: 300px;
